.logo-container {
  z-index: 0;
  width: 600px;     /* Increased width */
  height: 700px;    /* Increased height */
  opacity: 1;       /* Make visible while working */
  position: absolute;
  top: 0;
  right: 10%;       /* Adjust as needed */
  bottom: 0;
  left: auto;
  margin: auto;
}

.logo-container svg {
  width: 100%;
  height: auto;
  bottom: 0;
}

.logo-container .solid-logo {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: 0;
  margin: auto;
  width: 100%;
  opacity: 1;
  transform: none;
  z-index: 1;
}


.svg-container {
  stroke: #ffd700;
  stroke-width: 10;
}
